/src/Debug/
/src/Release/
/src/.launches/
/src/ignored/
/sch/fp-info-cache
/sch/watch-cache.lib
/sch/watch.sch-bak
/sch/Elektronika.bck
sch/watch-rescue.dcm
sch/watch-rescue.lib
sch/watch.kicad_pcb-bak
